.heart {
  animation: heart 1s infinite ease-in-out;
  /* animation-name: heart;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
  width: 106px;
  height: 106px;
}

@-webkit-keyframes heart {
  0% {
    -webkit-width: 106px;
    -webkit-height: 106px;
    -webkit-animation-timing-function: ease-in;
  }

  50% {
    -webkit-width: 100px;
    -webkit-height: 100px;
    -webkit-animation-timing-function: ease-in;
  }

  100% {
    -webkit-width: 106px;
    -webkit-height: 106px;
    -webkit-animation-timing-function: ease-in;
  }
}

@keyframes heart {
  0% {
    width: 106px;
    height: 106px;
    animation-timing-function: ease-in;
  }

  50% {
    width: 100px;
    height: 100px;
    animation-timing-function: ease-in;
  }

  100% {
    width: 106px;
    height: 106px;
    animation-timing-function: ease-in;
  }
}
