.heart {
  animation: heart 1s infinite ease-in-out;
  -webkit-animation: heart 1s infinite ease-in-out;
  /* animation-name: heart;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; */
  width: 106px;
  height: 106px;
  cursor: pointer;
}

.heart:hover {
  animation-play-state: paused;
}

.form-auth {
  margin-top: 50px;
  display: none;
}

.button-auth {
  display: block;
  margin: auto;
}

.nav-count {
  color: #FF0000;
}

.navigation {
  display: flex;
  align-items: center;
}

.admin-main-title {
  height: 90px;
}

.admin-reviews-row {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  height: 0;
}

.admin-reviews-row-label {
  height: 5;
}

.admin-reviews-list {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.admin-reviews-card {
  display: block;
  background: #FFFFFF;
  border: 1px solid #000000;
  width: 843px;
  margin: auto;
  padding-top: 36px;
  padding-right: 40px;
  padding-bottom: 36px;
  padding-left: 40px;
}

.admin-reviews-card:not(:last-child) {
  margin-bottom: 30px;
}

.admin-reviews-title-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.admin-reviews-info p,
.admin-reviews-main-title-card,
.admin-reviews-main-download-card,
.admin-add-job-name {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.admin-reviews-info p span {
  font-weight: 300;
}

.admin-reviews-status {
  display: flex;
  align-items: center;
}

.admin-reviews-main-text-card {
  font-size: 22px;
  line-height: 28px;
}

.admin-reviews-buttons {
  display: flex;
  flex-direction: column;
}

.admin-reviews-buttons button {
  display: block;
  margin: auto;
  margin-top: 15px;
  width: 300px;
}

.admin-reviews-pagination,
.admin-button-exit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.admin-reviews-pagination .pagination {
  display: block;
  margin: auto;
  width: auto;
}

.admin-order-name {
  display: flex;
  align-items: center;
}

.admin-add-job {
  display: flex;
  align-items: center;
  margin: auto;
}

.admin-add-job-name {
  margin-right: 5px;
}

.add-job {
  margin-top: 20px;
}

.admin-portfolio-img {
  display: block;
  width: 502px;
  height: 356px;
  object-fit: cover;
  margin: auto;
}

.admin-add-condition {
  display: flex;
  align-items: flex-end;
  margin-left: -50px;
}

.add-condition-button {
  margin-bottom: 15px;
  cursor: pointer;
}

.number-condition-block {
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  border: 1px solid #000;
  border-radius: 50%;
}

.number-condition {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-right: 6px;
  margin-left: 6px;
}

.admin-add-deal-form {
  margin-top: 0;
}

@keyframes heart {
  0% {
    width: 106px;
    height: 106px;
    animation-timing-function: ease-in;
  }

  50% {
    width: 100px;
    height: 100px;
    animation-timing-function: ease-in;
  }

  100% {
    width: 106px;
    height: 106px;
    animation-timing-function: ease-in;
  }
}

@-webkit-keyframes heart {
  0% {
    width: 106px;
    height: 106px;
    animation-timing-function: ease-in;
  }

  50% {
    width: 100px;
    height: 100px;
    animation-timing-function: ease-in;
  }

  100% {
    width: 106px;
    height: 106px;
    animation-timing-function: ease-in;
  }
}

@media (max-width: 1400px) {
  .navigation-link:not(:last-child) {
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
  .navigation-link:not(:last-child) {
    margin-right: 5px;
  }

  .admin-reviews-card {
    width: 660px;
  }
}

@media (max-width: 768px) {

  .admin-reviews-info p,
  .admin-reviews-main-title-card,
  .admin-reviews-main-download-card {
    font-size: 16px;
  }

  .admin-reviews-card {
    width: 95%;
  }

  .admin-reviews-main-text-card {
    font-size: 18px;
  }

  .admin-reviews-status-success {
    width: 48px;
    height: 48px;
  }

  .admin-reviews-status-danger {
    width: 64px;
    height: 64px;
  }

  .admin-portfolio-img {
    width: 95%;
    height: 70%;
  }

  .navigation {
    display: none;
  }
}

@media (max-width: 576px) {
  .admin-reviews-card {
    padding-top: 26px;
    padding-right: 30px;
    padding-bottom: 26px;
    padding-left: 30px;
  }

  .admin-reviews-title-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .admin-reviews-status {
    order: -1;
  }

  .admin-reviews-main-title-card {
    margin-top: 0;
  }

  .admin-reviews-buttons button {
    width: 200px;
  }
}